flake8-broken-line==1.0.0
flake8-builtins==2.5.0
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8-quotes==3.4.0
flake8-return==1.2.0
flake8==7.1.1
pep8-naming==0.14.1
ruff==0.6.9
flake8-noqa